@charset "utf-8";

.title {
    padding-top: 15vh;
    padding-left: 30vw;
    color: slateblue;
}

.mypage_all {
    width: 60%;
    margin-left: 21vw;
    margin-top: 30px;
}

.tourokuname {
    margin-top: 20px;
}

input {
    height: 5vh;
    width: 100%;
    border-radius: 10px;
    border: solid 1px;
}

.send {
    margin-top: 50px;
    width: 100px;
    margin-left: 48vw;
}

.return {
    width: 120px;
    margin-top: 30px;
    margin-left: 47.5vw;
    border: 1px solid;
    padding: 10px;
    background-color: lightgray;
    border-radius: 10px;
}

.dummy {
    height: 10vh;
}
